<div class="row">
  <div class="col-lg-12">
    <h4 class="page-header">Faculty Registration Form</h4>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-2">
          </div>
          <div class="col-lg-8">
            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name),:html => {:id => "registration_form"}) do |f| %>
              <%= devise_error_messages! %>
              <div class="form-group">
                <%= f.email_field :email, :autofocus => true, :class => "form-control", :placeholder => "Email" ,:required => true %>
              </div>
              <div class="form-group">
                <%#= f.password_field :password, :class => "form-control", :placeholder => "Password",:required => true, :id => "password", minlength: 7 %>
              </div>
              <div class="form-group">
                <%#= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Password Confirmation" ,:required => true ,minlength: 7, equalTo: "#password"%>
              </div>
              <%= f.submit "Sign up", :class=>"btn btn-primary" %></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $("#registration_form").validate({
    rules: {
      email: {
        required: true
      }
    }
  });
</script>