<div class="row">
  <div class="col-lg-12">
    <h3 class="page-header" style="text-align: center;">
      <%= params[:title] %>
    </h3>
  </div>
</div>

<h1 style="text-align: center; margin-top: 100px; font-size: 50px;"><small>Report already submitted.</small></h1>