<div class="row">
  <div class="col-lg-12">
    <h4 class="page-header">
      <small><%= @student_course.course_id %> - <%= @student_course.course_name %>
      <i class="fa fa-chevron-right"></i> </small> Edit Course Details
    </h4>
  </div>
</div>
<%= render 'form' %>