<div class="error">
  <%= image_tag('/assets/histotip_alert.png', :width => "150") %>
  <div class="message">
    <strong>Error!</strong>
    We're sorry, but our server is experiencing problems!!!
  </div>
</div>