/*#logo
 {
    float: right;
    font-size: 1.7em;
    color: red;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
    line-height: 1;
  }

#logo:hover
  {
    color: #fff;
  }

.checkbox-set{
  margin-left: 18px;
}
*/