.panel-acordation {
  padding: 10px;
}
.pending-plan-approve:hover {
  cursor: pointer;
}
.pending-plan-approve>.panel-heading:hover {
  background-color: #428bca;
  color: #fff;
}
.panel-header {
  margin-bottom: 0px;
}