<%# provide(:title, @user.email) %>
<div class="row">
  <div class="span6 offset3">
<h1> Welcome</h1>
<ol>
  <li><a href="/userstories">Userstories</a><br/></li><br/>
  <li><a href="#">Pending Plans</a></li><br/><ul><li><a href="#">Beta Plan</li></ul><br/>
  <li><a href="#">Filed Plans</a><br/></li><br/><ul><li><a href="#">Alpha Plan</li></ul><br/>
  <li><a href="#">Pending Productivity Reports</a><br/></li><br/><ul><li><a href="#">Week 2</li></ul><br/>
  <li><a href="#">Filed Productivity Plans</a><br/></li><br/><ul><li><a href="#">Week 1</li></ul><br/>
</ol>
  </div>
</div>